<h4>Mis Libros</h4>

<p><a href="#" class="btn btn-primary" role="button">Agregar Nuevo Libro</a> <a href="#" class="btn btn-default" role="button">Buscar Libros Compartidos</a></p>

<div id="book_shelf">
</div>