<ul class="nav nav-pills nav-stacked" style="max-width: 260px;">
    <li class="active">
        <a href="#">
            <span class="badge pull-right">42</span>
            Mis Libros
        </a>
    </li>
    <li>
        <a href="#">Perfil</a></li>
    <li>
        <a href="#">
            <span class="badge pull-right">3</span>
            Mensajes
        </a>
    </li>
</ul>